<!--<button class="btn btn-primary waves-light" type="button" (click)="test.toggle()" mdbRippleRadius>
    SUB PRODUCTS
</button> -->

<button class="btn btn-primary waves-light" type="button" 
        (click)="isCollapsed = !isCollapsed"  mdbRippleRadius
             [attr.aria-expanded]="!isCollapsed">
    SUB PRODUCTS
</button>

<br>

<!--<div class="" [collapse]="isCollapsed" #test="bs-collapse" style="height: 180px;" > -->
  <div id="collapseExample" [ngbCollapse]="isCollapsed" >                                                                                   
    <div *ngFor="let single of one.variations">
      <h4> {{ single.name }} </h4> <h4>{{ single.packsize }}</h4>

      <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
    <!-- button to trigger the file upload when submitted -->
    <button type="button" class="btn btn-success btn-s" 
            (click)="uploader.uploadAll(one._id, single._id)" [disabled]="!uploader.getNotUploadedItems().length">
        Upload with ng-2 file uploader
    </button>
    </div>
</div>
