<!--<button class="btn btn-primary waves-light" type="button" (click)="test.toggle()" mdbRippleRadius>
    SUB PRODUCTS
</button> -->

<button class="btn btn-primary waves-light" type="button" 
        (click)="isCollapsed = !isCollapsed"  mdbRippleRadius
             [attr.aria-expanded]="!isCollapsed">
    SUB PRODUCTS
</button>

<br>

<!--<div class="" [collapse]="isCollapsed" #test="bs-collapse" style="height: 180px;" > -->
  <div id="collapseExample" [ngbCollapse]="isCollapsed" >                                                                                   
    <div *ngFor="let single of one.variations">
      <h4> {{ single.name }} </h4> <h4>{{ single.packsize }}</h4>

      <label class="upload-button">
  <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event, one._id, single._id)" [uploadInput]="uploadInput" multiple>
  or choose file(s)
</label>
      <button type="button" class="start-upload-btn" (click)="startUpload()">
      Start Upload
    </button>
    </div>
    
</div>
